body{
    height:100vh ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

form{
    display: flex;
    flex-direction: column;
    
}

input[type=number]{
    margin-bottom: 10px;
    height: 30px;
    font-size: 1.5rem;
    border:none;
    border-radius: 5px;
    padding-left: 10px;
}

#btn{
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(22, 47, 189);
    color: white;
    font-size: 1.5rem;
}

label{
    font-weight: bold;
    font-size: 1.5rem;
}

body{
    background-image: url(pexels-pavel-danilyuk-7403806.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;

    
}

.box{
    background-color: rgba(255, 255, 255, 0.658);
    width: 300px;
    border-radius: 10px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

}



/*media queries*/

@media (max-width:1000px) {
    body{
        flex-direction: column;
        justify-content: center;
    }
    .box{
        margin-top: 50px;
    }

    .container{
        background-color: rgba(255, 255, 255, 0.452);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
    }
}