.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

form{
    display: flex;
    flex-direction: column;
    
}

input[type=number]{
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    padding-left: 10px;
}

#btn{
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(22, 47, 189);
    color: white;
    font-size: 20px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

body{
    background-image: url(pexels-pavel-danilyuk-7403806.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;

    
}

.box{
    background-color: rgba(255, 255, 255, 0.658);
    width: 300px;
    border-radius: 10px;
    height: 70px;
    margin-top: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;

}